@import "components/_profsection.scss";
@import "components/_nav.scss";

#siteContainer {
  margin: 0 auto;
  max-width: 1080px;
}

.prof-button-modifier {
  text-decoration: none;
}

.bio-data {
  display: none;
}

.show-bio {
  display: block !important;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

// iframe {
//   width: 1392px;
// }
