@import "components/_profsection.scss";
@import "components/_nav.scss";

#siteContainer {
  margin: 0 auto;
  max-width: 1080px;
}

.prof-button-modifier {
  text-decoration: none;
}

.bio-data {
  display: none;
}

.show-bio {
  display: block !important;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

h3 {
  color: salmon;
}
// iframe {
//   width: 1392px;
// }

// .cars ul {
//   li {
//     padding-right: 60px;
//   }
// }

@media screen and (min-width: 58em) {
  .lineUp h3 {
    padding-left: 46%;
  }

  .cars {
    padding-left: 150px;
  }

  .carThumb {
    width: 290px;
    height: 145px;
    padding: 40px;
  }

  section.secImg img {
    width: 1376px;
    height: 370px;
    margin-left: 60px;
  }

  .bioGrid {
    display: grid;
    margin-left: 25%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "h1 img img"
      "p img img";

    img {
      grid-area: img;
      margin-top: 40px;
    }
    h1 {
      grid-area: h1;
      color: salmon;
    }
    p {
      grid-area: p;
      margin-top: -50px;
    }
  }

  .blackBar1 {
    background: black;
    height: 20px;
    margin: 60px;
    width: 1375px;
  }
}
